body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4966 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  overflow:hidden;
}
#u4966_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(243, 243, 243, 1);
  background-image:none;
}
#u4966_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4967 {
  position:absolute;
  left:0px;
  top:49px;
  width:1100px;
  height:1px;
  overflow:hidden;
}
#u4967_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u4967_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4968 {
  position:absolute;
  left:0px;
  top:16px;
  width:188px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4968_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4968.selected {
}
#u4969 {
  position:absolute;
  left:10px;
  top:-1px;
  width:176px;
  word-wrap:break-word;
}
#u4971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u4971 {
  position:absolute;
  left:1020px;
  top:10px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u4971_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
}
#u4971.mouseOver {
}
#u4972 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u4973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u4973 {
  position:absolute;
  left:1039px;
  top:17px;
  width:10px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u4974 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u4975 {
  position:absolute;
  left:0px;
  top:70px;
  width:1100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u4976 {
  position:absolute;
  left:20px;
  top:11px;
  width:1078px;
  word-wrap:break-word;
}
#u4977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:616px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u4978 {
  position:absolute;
  left:0px;
  top:119px;
  width:1100px;
  height:616px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u4979 {
  position:absolute;
  left:20px;
  top:300px;
  width:1050px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4980 {
  position:absolute;
  left:30px;
  top:140px;
  width:1048px;
  height:255px;
}
#u4981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u4981 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u4982 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u4983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u4983 {
  position:absolute;
  left:151px;
  top:0px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u4984 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u4986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u4986 {
  position:absolute;
  left:0px;
  top:50px;
  width:151px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u4987 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u4988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u4988 {
  position:absolute;
  left:151px;
  top:50px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u4989 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u4990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u4990 {
  position:absolute;
  left:0px;
  top:100px;
  width:151px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u4991 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u4992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u4992 {
  position:absolute;
  left:151px;
  top:100px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u4993 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u4994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u4994 {
  position:absolute;
  left:0px;
  top:150px;
  width:151px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u4995 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u4996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u4996 {
  position:absolute;
  left:151px;
  top:150px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u4997 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u4998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u4998 {
  position:absolute;
  left:0px;
  top:200px;
  width:151px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u4999 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u5000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u5000 {
  position:absolute;
  left:151px;
  top:200px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5001 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u5003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:101px;
}
#u5003 {
  position:absolute;
  left:0px;
  top:1281px;
  width:1100px;
  height:100px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u5004 {
  position:absolute;
  left:2px;
  top:26px;
  width:1096px;
  word-wrap:break-word;
}
#u5006 {
  position:absolute;
  left:30px;
  top:410px;
  width:1048px;
  height:305px;
}
#u5007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u5007 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u5008 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u5009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u5009 {
  position:absolute;
  left:151px;
  top:0px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5010 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u5011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u5011 {
  position:absolute;
  left:0px;
  top:50px;
  width:151px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u5012 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u5013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u5013 {
  position:absolute;
  left:151px;
  top:50px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5014 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u5015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u5015 {
  position:absolute;
  left:0px;
  top:100px;
  width:151px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u5016 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u5017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u5017 {
  position:absolute;
  left:151px;
  top:100px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5018 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u5019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u5019 {
  position:absolute;
  left:0px;
  top:150px;
  width:151px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u5020 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u5021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u5021 {
  position:absolute;
  left:151px;
  top:150px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5022 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u5023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u5023 {
  position:absolute;
  left:0px;
  top:200px;
  width:151px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u5024 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u5025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u5025 {
  position:absolute;
  left:151px;
  top:200px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5026 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u5027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u5027 {
  position:absolute;
  left:0px;
  top:250px;
  width:151px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u5028 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u5029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u5029 {
  position:absolute;
  left:151px;
  top:250px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5030 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u5031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5031 {
  position:absolute;
  left:0px;
  top:752px;
  width:1100px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5032 {
  position:absolute;
  left:20px;
  top:11px;
  width:1078px;
  word-wrap:break-word;
}
#u5033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u5033 {
  position:absolute;
  left:0px;
  top:801px;
  width:1100px;
  height:480px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u5034 {
  position:absolute;
  left:20px;
  top:232px;
  width:1050px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5035 {
  position:absolute;
  left:31px;
  top:1051px;
  width:1048px;
  height:205px;
}
#u5036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u5036 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u5037 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u5038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u5038 {
  position:absolute;
  left:151px;
  top:0px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5039 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u5040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u5040 {
  position:absolute;
  left:0px;
  top:50px;
  width:151px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u5041 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u5042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u5042 {
  position:absolute;
  left:151px;
  top:50px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5043 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u5044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u5044 {
  position:absolute;
  left:0px;
  top:100px;
  width:151px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u5045 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u5046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u5046 {
  position:absolute;
  left:151px;
  top:100px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5047 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u5048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u5048 {
  position:absolute;
  left:0px;
  top:150px;
  width:151px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u5049 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u5050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u5050 {
  position:absolute;
  left:151px;
  top:150px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5051 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u5052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5053 {
  position:absolute;
  left:31px;
  top:822px;
  width:1048px;
  height:205px;
}
#u5054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u5054 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u5055 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u5056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u5056 {
  position:absolute;
  left:151px;
  top:0px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5057 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u5058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u5058 {
  position:absolute;
  left:0px;
  top:50px;
  width:151px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u5059 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u5060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u5060 {
  position:absolute;
  left:151px;
  top:50px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5061 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u5062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u5062 {
  position:absolute;
  left:0px;
  top:100px;
  width:151px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u5063 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u5064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u5064 {
  position:absolute;
  left:151px;
  top:100px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5065 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u5066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u5066 {
  position:absolute;
  left:0px;
  top:150px;
  width:151px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u5067 {
  position:absolute;
  left:0px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u5068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:50px;
}
#u5068 {
  position:absolute;
  left:151px;
  top:150px;
  width:892px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u5069 {
  position:absolute;
  left:10px;
  top:11px;
  width:880px;
  word-wrap:break-word;
}
#u5070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  height:2px;
}
#u5070 {
  position:absolute;
  left:19px;
  top:1036px;
  width:1063px;
  height:1px;
}
#u5071 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1059px;
  visibility:hidden;
  word-wrap:break-word;
}
